<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cameraSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <cameraSetup.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>10.1.0.15</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>factory_setup</value>
            </setting>
            <setting name="UID" serializeAs="String">
                <value>dev</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
        </cameraSetup.Properties.Settings>
    </userSettings>
</configuration>
